@{
    ViewData["Title"] = "Movie List";
}

<h2>My Movie List</h2>

<p>Hello from our View Template!</p>

// GET: Movies
public async Task<IActionResult>
    Index() 
    {
    return View(await _context.Movie.ToListAsync());
    }
